import { Elysia } from "elysia"
import { staticPlugin } from "@elysiajs/static"
import { clientScripts } from "./client"
{{{ imports }}}

export const plugins = clientScripts
  .reduce(
    (elysia, script) =>
      script.url && script.filePath
        ? elysia.get(script.url, () => Bun.file(script.filePath!))
        : elysia,
    new Elysia({ name: "hadeda/plugins" }),
  )
  .use(staticPlugin())
{{{ uses }}}
